.advantages__list {
  @include list;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.advantages__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages__container {
  padding: 0;
}

.advantages__item {
  text-align: center;

  &--square {
    background-color: #eeeeee;
  }

  &--road {
    background-color: #eeeeee;
  }

  &--tourist {
    background-color: #eeeeee;
  }
}

.advantages__wrapper {
  padding: 24px 30px 24px 30px;

  &--triangle {
    padding-top: 65px;
    background-image: url("/img/advantages-triangle.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    position: relative;
    width: 100%;
  }

  &--blue {
    background-color: $color-secondary;
    color: #ffffff;
  }

  &--gray {
    background-color: #eeeeee;
  }
}

.advantages__item:nth-child(4)::after {
  content: "";
  display: block;
  width: 284px;
  height: 1px;
  background-color: #D6D6D6;
  margin-left: auto;
  margin-right: auto;
}

.advantages__item:nth-child(5)::after {
  content: "";
  display: block;
  width: 284px;
  height: 1px;
  background-color: #D6D6D6;
  margin-left: auto;
  margin-right: auto;
}

.advantages__number {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.advantages__image {
  display: block;
}
