.btn {
  margin: 0;
  border: none;
  background-color: $color-secondary;
  cursor: pointer;
  display: block;
  padding: 16px;
  color: #ffffff;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  &:hover {
    background-color: #669ec0;
    transition: 0.3s;
  }

  &:active {
    background-color: #5496bd;

  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

